{% extends 'auth.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block header %}
    <h1>Inscription</h1>
{% endblock %}

{% block body %}
<div class="example-wrapper">
    {{ form_start(registrationForm) }}
    <style>
        <
        h1 class

        =
        "h3 mb-3 font-weight-normal"
        > Veuillez vous inscrire

        <
        /
        h1 >{{ form_row(registrationForm.username) }}{{ form_row(registrationForm.email) }}{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}{{ form_row(registrationForm.agreeTerms) }}

        <
        button type

        =
        "submit"
        class

        =
        "btn"
        > S

        'inscrire</button>
        {{ form_end(registrationForm) }}
        <
        /
        div >

        {% endblock %}
