{% extends 'base.html.twig' %}

{% block title %}Mes articles{% endblock %}

{% block header %}
    <h1>Mes articles</h1>
{% endblock %}

{% block body %}
    <section>
        <div class="example-wrapper">
            {# <img src="/assets/uploads/ponce.jpg "> #}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">{{ articles|length }} {{ articles|length > 1 ? 'Articles' : 'Article' }} </th>
                    <th scope="col">Titre</th>
                    <th scope="col">Auteur</th>
                    <th scope="col">Informations</th>
                    <th scope="col">
                        <a href="{{ path('app_new_article') }}">
                            <button class="boutonAjout">Créer un nouvel article
                                <span class="material-symbols-outlined">
                                  add
                                </span>
                            </button>
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <th scope="row"><a href='/article/{{ article.id }}'>
                                <img src="{{ asset(article.image) }}" width="100"></a></th>
                        <td>{{ article.titre }}</td>
                        <td>{{ article.auteur.username }}</td>
                        <td class="information">{{ article.informations }}</td>
                        <td>
                            <a href="{{ path('article_edit', {'id': article.id}) }}">
                                <button type="button" class="boutonModif">Modifier
                                    <span class="material-symbols-outlined">
                                      edit
                                    </span>
                                </button>
                            </a>
                            <a href="{{ path('article_delete', {'id': article.id}) }}">
                                <button type="button" class="boutonSuppr">Supprimer
                                    <span class="material-symbols-outlined">
                                      delete
                                    </span>
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </section>

{% endblock %}
