{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block header %}
    <h1>Accueil</h1>
{% endblock %}

{% block body %}

    <section>
        <div class="grid">
            <a class="grid_item">
                <h2>Streameurs</h2>
                <img src="{{ asset('assets/images/car.jpg') }}" alt="">
            </a>
            <a class="grid_item">
                <h2>Acteurs</h2>  
                <img src="{{ asset('assets/images/car.jpg') }}" alt="">
            </a>
        </div>
        <br>
        <div class="grid">
            <a class="grid_item" href='article/{{ article1.id }}'>
                <img src="{{ asset(article1.image)}}" alt="" style=' width :200px'>
                <h2>{{ article1.titre }}</h2>
            </a>
            <a class="grid_item" href='article/{{ article2.id }}'>
                <img src="{{ asset(article2.image)}}" alt="" style=' width :200px'>
                <h2>{{ article2.titre }}</h2>
            </a>
        </div>
    </section>

{% endblock %}
