{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block header %}
    <h1>Créer un nouvel article</h1>
{% endblock %}

{% block body %}
    <section>
        <div class="grid">
            {{ form_start(newArticleForm) }}
            {{ form_errors(newArticleForm) }}

            {{ form_row(newArticleForm.titre) }}
            {{ form_row(newArticleForm.informations) }}
            {{ form_row(newArticleForm.image) }}
            {# {{ form_row(newArticleForm.categorie) }} #}
            {{ form_row(newArticleForm.save) }}

            {{ form_end(newArticleForm) }}
        </div>
    </section>
{% endblock %}
