{% extends 'base.html.twig' %}

{% block title %}Liste Articles{% endblock %}

{% block header %}
    <h1>Liste Article</h1>
{% endblock %}

{% block body %}
<div class="example-wrapper">
{# <img src="/assets/uploads/ponce.jpg "> #}
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">{{ articles|length}} {{ articles|length > 1 ? 'Articles' : 'Article' }} </th>
      <th scope="col">Titre</th>
      <th scope="col">Auteur</th>
      <th scope="col">Informations </th>
      <th scope="col">Articles</th>
    </tr>
  </thead>
  <tbody>
  {% for article in articles %}
    <tr>
      <th scope="row"><a href='/article/{{ article.id }}'><img src="{{ asset(article.image) }}" width="100"></a> </th>
      <td>{{ article.titre }}</td>
      <td>{{ article.auteur.username }}</td>
      <td class="information">{{ article.informations }}</td>
      <td>
          <a href="/article/{{ article.id }}">
              <button type="button">Voir l'article</button>
          </a>
      </td>    
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}
